<!DOCTYPE html>
<html>

<head>
  <title>login page</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <style>
  </style>
</head>

<body>
  <div id="loginUI">
    <form id="loginForm" novalidate>

      <div class="field">
        <input id="email" type="email" name="email" placeholder="Email" required />
      </div>
      <div class="field">
        <input id="password" type="password" name="password" placeholder="Password" required />
      </div>
      <p class="form_error loginError"></p>
      <div class="login_submit">

        <button id="loginButton" class="btn btn-primary btn-md" type="submit" tabindex="4">Log In</button>
        <br />
        <div class="alert alert-danger" role="alert">
          <p id="passEr" class="form_error"></p>
          <p id="emailEr" class="form_error"></p>
        </div>
      </div>

    </form>
  </div>
  <script>
    $("#loginButton").on("click", function (e) {

      e.preventDefault();

      const loginUI     = $("#loginUI");
      const mailVal     = loginUI.find("#email").val();
      const passVal     = loginUI.find("#password").val();
      const mailEr      = $('#emailEr');
      const passEr      = $('#passEr');
      const passErTxt   = 'Password cannot be blank';
      const mailErTxt   = 'Email cannot be blank';
      const mailErValidTxt = 'Please include a valid email address.';
      const regexEmail  = /\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
      const loginErA    = $(".login_phase_one");
      const loginErB    = $(".login_phase_two");

      $(".form_error").css("display", "none");

      const loginInfo = {
        email: $.trim(mailVal),
        password: $.trim(passVal),
      };

      if ((loginInfo.email === '') && (loginInfo.password === '')) {
        passEr.text(passErTxt).show();
        mailEr.text(mailErTxt).show();
      } else if (loginInfo.password === '') {
        passEr.text(passErTxt).show();
      } else if (loginInfo.email === '') {
        mailEr.text(mailErTxt).show();
      } else if (regexEmail.test(loginInfo.email)) {
        mailEr.hide();
        passEr.hide();
        loginErA.hide();
        loginErB.fadeIn("slow");
      } else {
        mailEr.text(mailErValidTxt).show();
      }

      // const data = JSON.stringify(loginInfo);

      // makeLoginReq('/v1/auth/login','POST', data, setToken);

      var data = {
                    "email": $('#email').val(),
                    "password": $('#password').val()
                  };

      // makeLoginReq('/v1/auth/login','POST', JSON.stringify(data), setToken);

      $.ajax({
          type: "POST",
          dataType: 'json',
          url: "/v1/auth/login",
          data: JSON.stringify(data),
          processData: false,
          contentType: "application/json",
          cache: false,
          timeout: 600000,
          success: function (data) {

            if(data.code == 200) {
               // alert(data.Authorization);
              window.sessionStorage.setItem('token', data.Authorization);
              window.location.replace("broadcast/new");
              return false;
            }else {
                $("#result").text('Something went wrong, Please try again');
            }

          },
          error: function (e) {

              console.log("ERROR : ", e);

          }
      });
    });

    function makeLoginReq( URL, Method, body, callback) {
      $.ajax({
        type: Method,
        url: URL,
        dataType: "json",
        data: body,
        processData: false,
        contentType: "application/json",
        cache: false,
        timeout: 600000,
      }).success(function (data) {
             console.log("data before : ", data);
             alert('kk');
          callback('token', data.Authorization);
          window.location.replace("broadcast/new");
      }).fail(function (xhr) {
             console.log("data before : ", data);
        // document.getElementById("loginButton").disabled = false;
        // $("#loginButton").html("Log In");
        // $(".alert").css("display", "block");
        callback(data);
      })
    };

    function setToken(key, value) {
      alert('j');
      window.sessionStorage.setItem(key, value);
      alert('lk');
      consol.log('set token callback')
    }

    function getToken() {
      return window.sessionStorage.getItem(key, value);
    }
  </script>
</body>


</html>